= simple_form_for @fishing_log, :html => { :class => 'form-horizontal' } do |f|
  - if @fishing_log.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fishing_log.errors.count, "error")} prohibited this fishing_log from being saved:"
      %ul
        - @fishing_log.errors.full_messages.each do |msg|
          %li= msg

  = f.input :fish_name
  = f.input :fish_length
  = f.input :fish_weight
  = f.input :fishing_point_name
  = f.input :fishing_method
  = f.input :fishing_date, as: :date
  = f.input :fishing_time, as: :time
  = f.input :bait
  = f.input :comment, as: :text

  .form-actions
    = f.button :submit, class: 'btn-primary'

