- @page_title = t('helpers.titles.list', model: t('activerecord.models.fishing_log'))
- @page_category = 'fishing_logs'

%h4{ id: 'search_title' }
  = t('.search_title')
  %small
    - if params[:search].nil?
      %i.glyphicon.glyphicon-chevron-right
    - else
      %i.glyphicon.glyphicon-chevron-down
%div{ id: 'search_form_wrapper', style: (params[:search].nil? ? 'display: none;' : 'display: block;') }
  = simple_form_for :search, url: fishing_logs_path, method: :get, html: { class: 'form-horizontal well form-search', id: 'fishing_logs_search_form' } do |f|
    = f.input :fish_name, as: :string, label: t('.search_form.fish_name'), input_html: { value: (params[:search].nil? ? '' : params[:search][:fish_name]) }
    = f.input :fishing_point_name, as: :string, label: t('.search_form.fishing_point_name'), input_html: { value: (params[:search].nil? ? '' : params[:search][:fishing_point_name]) }

    .form-actions
      = f.button :submit, t('.search_form.button') , class: 'btn-info'

%p
  %span.pull-left= t('views.page_info.page', current: @fishing_logs.current_page, total: @fishing_logs.num_pages)
  %span.pull-right= t('views.page_info.records', offset: @fishing_logs.offset_value+1, limit: (@fishing_logs.offset_value+@fishing_logs.length), total: @fishing_logs.total_count)
  %span.clearfix
%table.table.table-striped.table-hover
  %tr
    %th #{t('activerecord.attributes.fishing_log.fish_name')}
    %th #{t('activerecord.attributes.fishing_log.fish_length')}
    %th #{t('activerecord.attributes.fishing_log.fish_weight')}
    %th #{t('activerecord.attributes.fishing_log.fishing_point_name')}
    %th #{t('activerecord.attributes.fishing_log.fishing_method')}
    %th #{t('activerecord.attributes.fishing_log.fishing_date')}
    %th #{t('activerecord.attributes.fishing_log.fishing_time')}
    %th #{t('activerecord.attributes.fishing_log.bait')}
    %th
    %th
    %th

  - @fishing_logs.each do |fishing_log|
    %tr
      %td= fishing_log.fish_name
      %td= number_to_human fishing_log.fish_length, units: { unit: 'cm', thousand: 'm' }
      %td= number_to_human fishing_log.fish_weight, units: { unit: 'g', thousand: 'kg' }
      %td= fishing_log.fishing_point_name
      %td= fishing_log.fishing_method
      %td= l fishing_log.fishing_date, format: :long
      %td= l fishing_log.fishing_time, format: :time_only
      %td= fishing_log.bait
      %td= link_to t('helpers.actions.show'), fishing_log, class: 'btn btn-default btn-xs'
      %td= link_to raw("<i class=\"glyphicon glyphicon-edit\"></i> #{t('helpers.actions.edit')}"), edit_fishing_log_path(fishing_log), class: 'btn btn-default btn-xs'
      %td= link_to raw("<i class=\"glyphicon glyphicon-trash\"></i> #{t('helpers.actions.destroy')}"), fishing_log, :method => :delete, :data => { :confirm => t('helpers.confirm.delete') }, class: 'btn btn-danger btn-xs btn-white'

= paginate @fishing_logs

%br

= link_to(raw("<i class=\"glyphicon glyphicon-plus\"></i> #{t('.new_fishing_log')}"), new_fishing_log_path, class: 'btn btn-primary btn-white')
