- @page_title = t('helpers.titles.show', model: t('activerecord.models.fishing_log'))
- @page_category = 'fishing_logs'

%div.show.fishing_log_show
  %div.row
    %div.col-sm-2
      %b #{t('activerecord.attributes.fishing_log.fish_name')}
    %div.col-sm-10
      = @fishing_log.fish_name
  %div.row
    %div.col-sm-2
      %b #{t('activerecord.attributes.fishing_log.fish_length')}
    %div.col-sm-10
      = number_to_human @fishing_log.fish_length, units: { unit: 'cm', thousand: 'm' }
  %div.row
    %div.col-sm-2
      %b #{t('activerecord.attributes.fishing_log.fish_weight')}
    %div.col-sm-10
      = number_to_human @fishing_log.fish_weight, units: { unit: 'cm', thousand: 'm' }
  %div.row
    %div.col-sm-2
      %b #{t('activerecord.attributes.fishing_log.fishing_point_name')}
    %div.col-sm-10
      = @fishing_log.fishing_point_name
  %div.row
    %div.col-sm-2
      %b #{t('activerecord.attributes.fishing_log.fishing_method')}
    %div.col-sm-10
      = @fishing_log.fishing_method
  %div.row
    %div.col-sm-2
      %b #{t('activerecord.attributes.fishing_log.fishing_date')}
    %div.col-sm-10
      = l @fishing_log.fishing_date, format: :long
  %div.row
    %div.col-sm-2
      %b #{t('activerecord.attributes.fishing_log.fishing_time')}
    %div.col-sm-10
      = l @fishing_log.fishing_time, format: :time_only
  %div.row
    %div.col-sm-2
      %b #{t('activerecord.attributes.fishing_log.bait')}
    %div.col-sm-10
      = @fishing_log.bait
  %div.row
    %div.col-sm-2
      %b #{t('activerecord.attributes.fishing_log.fish_image')}
    %div.col-sm-10
      - if @fishing_log.fish_image?
        %div.fish_image{ style: "background-image: url('#{@fishing_log.fish_image_url }')" }
  %div.row
    %div.col-sm-2
      %b #{t('activerecord.attributes.fishing_log.comment')}
    %div.col-sm-10
      %p
        = linebreak_to_br @fishing_log.comment

= link_to raw("<i class=\"\"></i> #{t('helpers.actions.edit')}"), edit_fishing_log_path(@fishing_log), class: 'btn btn-primary btn-white'

