- @page_category = 'home'

.row
  .col-md-8
    .btn-group
      = button_tag class: 'btn btn-info', id: 'tide-date-select-button' do
        %i.glyphicon.glyphicon-calendar
        %span= l @tide.date, format: :long
      %input#tide-date-select-target.hide
        = link_to region_index_path, remote: true, class: 'btn btn-info', id: 'port-select-button', data: { type: :html } do
          %i.glyphiconcon.glyphicon-globe
          %span= @tide.port_name
  .col-md-4
    = link_to new_fishing_log_path, method: :get, class: 'btn btn-primary btn-white', id: 'new-fishing-log-link' do
      %i.glyphiconcon.glyphicon-plus
      = t('.button.new_fishing_logs')
.row
  .col-md-5.tide-info
    = image_tag '/assets/tide-icons/svg/tide.svg', class: 'tide-img'
    %p.tide-name= @tide.tide_name
  .col-md-7.tide-relation-info
    .moon-age
      %span
        = image_tag moon_age_image(@tide.moon_age)
      %span= @tide.moon_age
    .sun-rise
      %span
        = image_tag '/assets/weather-icons/svg/Sunrise.svg'
      %span= l @tide.sun_rise, format: :time_only
    .sun-set
      %span
        = image_tag '/assets/weather-icons/svg/Sunset.svg'
      %span= l @tide.sun_set, format: :time_only

%table.table
  %tr
    -@tide.tides.size.times do
      %th= t('.tide_table.date')
      %th= t('.tide_table.level')
  %tr
    -@tide.tides.each do |tide|
      %td= l tide[:time], format: :time_only
      %td= tide[:tide_level]

%div#port-select-dialog{ title: t('.dialog.port_select.title') }

= form_tag tides_index_path, method: :get, class: 'hide', id: 'tide-search-form' do
  = date_field_tag :date, @tide.date, class: :date
  = text_field_tag :port_name, remove_bom(@tide.port_name), class: :port_name
= form_tag new_fishing_log_path, method: :get, class: 'hide', id: 'new-fishing-log-form' do
  = date_field :fishing_log_init, :fishing_date, class: :date
  = text_field :fishing_log_init, :fishing_point_name, class: :port_name
