!!!
%html
  %head
    %title #{t('site_title')}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header#header.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: "#"} #{t('site_title')}
    .cotainer-fluid
      .row
        #sideber.col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li{ class: @page_category == 'home' ? 'active' : ''} #{link_to(t('helpers.titles.home'), root_path)}
            %li{ class: @page_category == 'fishing_logs' ? 'active' : '' } #{link_to(t('activerecord.models.fishing_log'), fishing_logs_path)}
        #main.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          - if @page_title
            .page_title
              %h1 #{@page_title}
          .contents
            = yield
    %fotter#fotter.fotter


